footer {
  background: #111;
  color: #fff;
  font-family: font7;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 40px;
  font-size: 14px;
  border-top: 1px solid #222;
}

/* equal spacing */
footer span {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* center text properly */
footer span:nth-child(2) {
  justify-content: center;
  flex: 1;
}

/* left and right stay compact */
.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

/* link styling */
footer a {
  color: crimson;
  text-decoration: none;
  font-weight: 500;
  font-family: font7;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 20px;
  }

  footer span {
    justify-content: center !important;
  }
}