<section class="project" id="project">
    <div class="max-width">
      <h2 class="title">Projects</h2>
      <div class="pro-content">

        <div class="card">
            <div class="box">
              <i class="fas fa-chart-line"></i>
              <div class="text">Food Ordering Application</div>
              <p>It is a food Ordering website, From here user can Order food Online from his favourite restraunt, But for doing that he needs to 
                register him self in the database after successful registration user need to login then after this only user can see the menu of particular
                restraunt("canActivate guard") and many more functionality.
              </p>
              <p style="font-size: 14px;"><span style="color: rgb(20, 203, 220);">Technology Used :</span> HTML5, CSS3, Typescript, Angular, MySql, MongoDB, Java, SpringBoot</p>
              <a href="https://github.com/Amanpan19/Foodie_WebAppFront" style="color: yellow;">View Code</a>
            </div>
          </div>

          <div class="card">
            <div class="box">
              <i class="fas fa-chart-line"></i>
              <div class="text">Weather Application</div>
              <p>This is a real-time weather application that enables users
                to promptly access precise weather information for their
                city.</p>
                <ol> 
                  <li>The application utilizes the Open Weather API to
                  provide users with up-to-the minute weather updates.</li>
                </ol>
                
              
              <p style="font-size: 14px;"><span style="color: rgb(20, 203, 220);">Technology Used :</span> HTML5, CSS3, Typescript, Angular</p>
              <a href="https://amanpan19.github.io/weatherApplication/ " style="color: yellow;"> Explore </a> 
              &nbsp; &nbsp;<a href="" style="color: yellow;">View Code</a>
            </div>
          </div>

          <div class="card">
            <div class="box">
              <i class="fas fa-chart-line"></i>
              <div class="text">Music Playing web Application</div>
              <p>It is music playing website, So basically user needs to register himself first, After successful registration user need to login then only 
                he can play song, add song in favourite list or can create and delete playlist </p>
                <p style="font-size: 14px;"><span style="color: rgb(20, 203, 220);">Technology Used :</span> HTML5, CSS3, Typescript, Angular, MySql, MongoDB, Java, SpringBoot</p>
              <a href="https://amanpan19.github.io/Music_WebApplication/" style="color: yellow;">View Project</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="https://github.com/Amanpan19/Music_WebApplication" style="color: yellow;">View Code</a>
            </div>
          </div>

          <div class="card">
            <div class="box">
              <i class="fas fa-chart-line"></i>
              <div class="text">Juke Box</div>
              <p>Crafted a contemporary JukeBox that offers users an
                immersive real-world music experience.</p>
                <ol>
                  <li>MySQL database is employed for seamless data storage.</li>
                  <li>JDBC facilitates the Java-database interaction for robust connectivity.</li>
                </ol>
              
              <p style="font-size: 14px;"><span style="color: rgb(20, 203, 220);">Technology Used :</span>Java, Mysql</p>
              <a href="https://github.com/Amanpan19/Juke-Box-Java-" style="color: yellow;">View Code</a>
            </div>
          </div>

        <div class="card">
          <div class="box">
            <i class="fas fa-chart-line"></i>
            <div class="text">Amphibious Vehicle (Mech Project)</div>
            <p>It is a prototype that is capable of operating on both land 
              and water. The vehicle is completely manually operated. 
              It uses 4 medium-RPM DC motors with high torque and 2 DPDT 
              switches, Both the switches are responsible to control the 
              left and right wheels of the vehicle. And for propulsion in 
              or on the water vehicle simply make do 
              by spinning their wheels, which consist of fins like spokes.</p>
          </div>
        </div>

        <div class="card">
          <div class="box">
            <i class="fas fa-chart-line"></i>
            <div class="text">Auto Hand Dispenser (Mech Project)</div>
            <p>The main objective of making this touch-free automatic infrared dispenser is to                                                                                       
               maintain the hygiene of our hand during the on-going pandemic. And the component includes are Infrared sensor module, 
               TIP32 C transistor, DC mini pump, and 1k ohm resistor </p>
          </div>
        </div>

      </div>
    </div>
  </section>