<section class="project" id="project">
    <div class="max-width">
      <h2 class="title">Projects</h2>
      <div class="pro-content">

        <div class="card">
            <div class="box">
              <i class="fas fa-chart-line"></i>
              <div class="text">Food Ordering Application</div>
              <img src="assets/foodie.png" alt="">
              <p>It is a food Ordering website, From here user can Order food Online from his favourite restraunt. For More Details view code on GitHub.
              </p>
              <p style="font-size: 14px;"><span class="tech">Technology Used :</span> HTML5, CSS3, Typescript, Angular, MySql, MongoDB, Java, SpringBoot..etc.</p>
              <a href="https://github.com/Amanpan19/Foodie_WebAppFront">View Code</a>
            </div>
          </div>

          <div class="card">
            <div class="box">
              <i class="fas fa-chart-line"></i>
              <div class="text">Weather Application</div>
              <img src="assets/weather.png" alt="">
              <p>This is a real-time weather application that enables users
                to promptly access precise weather information for their
                city.For More Details view code on GitHub</p>
              
              <p style="font-size: 14px;"><span class="tech">Technology Used :</span> HTML5, CSS3, Typescript, Angular, OpenAPI</p>
              <a href="https://amanpan19.github.io/weatherApplication/ "> Explore </a> 
              &nbsp; &nbsp;<a href="https://github.com/Amanpan19/weatherApplication" >View Code</a>
            </div>
          </div>

          <div class="card">
            <div class="box">
              <i class="fas fa-chart-line"></i>
              <div class="text">Music web Application</div>
              <img src="assets/spotify.png" alt="">
              <p>It is music playing website, So basically user needs to register himself first, After successful registration and login then only 
                user can play, add song in favourite list or can create and delete playlist </p>
                <p style="font-size: 14px;"><span class="tech">Technology Used :</span> HTML5, CSS3, Typescript, Angular</p>
              <a href="https://github.com/Amanpan19/Music_WebApplication" >View Code</a>
            </div>
          </div>

          <div class="card">
            <div class="box">
              <i class="fas fa-chart-line"></i>
              <div class="text">CricTab</div>
              <img src="assets/crictab.png" alt="">
              <p>Introducing CricTab, your all-in-one cricket application designed for die-hard cricket enthusiasts and fans. Whether you're a cricket player,
                 Simply a passionate follower of the game, CricTab is your go-to tool for staying updated with the latest cricket scores, stats, and insights. </p>
                 <a href="https://amanpan19.github.io/CricTab/" >View Project</a>&nbsp;&nbsp;&nbsp;&nbsp;
                 <a href="https://github.com/Amanpan19/CricTab" >View Code</a>
                </div>
          </div>

          <div class="card">
            <div class="box">
              <i class="fas fa-chart-line"></i>
              <div class="text">Juke Box</div>
              <p>Crafted a contemporary JukeBox that offers users an
                immersive real-world music experience.</p>
                <ol>
                  <li>MySQL database is employed for seamless data storage.</li>
                  <li>JDBC facilitates the Java-database interaction for robust connectivity.</li>
                </ol>
              
              <p style="font-size: 14px;"><span  class="tech">Technology Used :</span>Java, Mysql</p>
              <a href="https://github.com/Amanpan19/Juke-Box-Java-" >View Code</a>
            </div>
          </div>

        <div class="card">
          <div class="box">
            <i class="fas fa-chart-line"></i>
            <div class="text">Amphibious Vehicle (Mech Project)</div>
            <p>It is a prototype that is capable of operating on both land 
              and water. The vehicle is completely manually operated. 
              It uses 4 medium-RPM DC motors with high torque and 2 DPDT 
              switches, Both the switches are responsible to control the 
              left and right wheels of the vehicle. And for propulsion in 
              or on the water vehicle simply make do 
              by spinning their wheels, which consist of fins like spokes.</p>
          </div>
        </div>
      </div>
    </div>
  </section>