
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


@font-face {
    font-family:font2;
    src: url(../../assets/novirus.ttf);
  }
  @font-face {
    font-family: myfont2;
    src: url(../../assets/GearsOfPeace.ttf);
  }
  @font-face{
    font-family:front3;
    src :url(../../assets/ConcertOne-Regular.ttf)}
  
  @font-face{
    font-family: font4;
    src: url(../../assets/ethnocentric.otf) format('opentype');}
  
  @font-face {
    font-family:font6;
    src: url(../../assets/Mortina.otf);
  }
  



.navbar{position: fixed;width: 100%;padding:30px 0;
    /*background: linear-gradient( to left,#455d7a,#6643b5,#430f58);*/
    transition:all 0.3s ease;z-index: 2;
     }
.navbar.sticky{background: linear-gradient( to right,rgb(149, 54, 226),#915ce6,#7827cf);
               padding: 15px 0;box-shadow: 0px 15px 50px -15px #393939;}
.navbar .max-width{display: flex;align-content:center;justify-content: space-between;}
.max-width{max-width:1300px;padding: 0 80px;margin: auto;}

.navbar .logo a{font-size:35px;font-family: myfont2;color: yellow;}  
.navbar .logo span{color: white;}    
.navbar .menu li a{font-family:cursive;color: white;
                margin-left: 25px;
                font-weight: 600;transition:color 0.3s ease;}
.navbar .menu li a:hover{color:#3baea0;}
.navbar.sticky .menu li a:hover{color:yellow;}
.navbar .menu li{list-style: none;display: inline-block;padding-top: 10px;}


label #btn,label #cancel{
  color: white;
  float: right;
  display: none;
}

#check{
  display: none;
}

 a{
    text-decoration: none;
 }     
      

.home{display:flex;background: linear-gradient(109.6deg, rgb(42, 109, 197) 32.4%, #a03bde 98.8%);
  color:white;width:100%;overflow: hidden;
  height:100vh;flex-wrap: wrap;
  font-family: front3;min-height: 500px;}
.home .man{width: 28%;
height: 65%;
position: absolute;
bottom:80px;
right: 130px;}

.home .shape{width: 30%;height: 70%;position: absolute;bottom:80px;right: 100px;}
.home .max-width{margin: auto 0 auto 50px;}
.home .home-content h3{font-size: 25px;padding-bottom: 15px;text-align: left;}
.home .home-content h1{font-family: font4;
                         font-size: 35px;margin-left: -3px;}
.home .home-content h2{font-size: 30px;padding-top: 15px;text-align: left;}
.home .home-content h2 span{color:yellow ;}


.background-button{
position: relative;
width: 100%;
padding-top: 25.92%;
display: block;
background-size: 100% 100%;
font-family: 'front3';
font-size: 28px;
margin-bottom: 20px;
text-decoration: none;
color: #333;
}

a.background-button {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/323909/yellow-shadow.png);}
  
    a.background-button:after {
      content: attr(title);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/323909/yellow-top.png);
      transition: all 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    a.background-button:hover:after {
      -webkit-transform: translate(2.5%, 10%);
      transform: translate(2.5%, 10%);
      text-shadow: 2px 2px 1px white;
      color: black;
    }
  
  
  .button-wrapper {
    width: 355px;
    display: inline-block;
    margin: 20px;
  padding-top: 150px;}
  
    .button-wrapper::nth-child(2) {
      -webkit-filter: hue-rotate(180deg);
      filter: hue-rotate(180deg);
    }
  
  
  
  
  section{
    padding:80px 0;
  }
  h2{color: white;}
  .contact{font-family: cursive;}
  .about{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .about .about-content
  {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
  }
  section .title{text-align: center;
    position: relative;
    font-size: 25px;  color: azure;
    margin-bottom: 60px;padding-bottom: 20px;}
  
  section .title::before{
  content:"";
  bottom: 0px;
  left: 50%;
  position: absolute;
  width: 200px;
  height:3px;
  background: #f9f924;
  transform: translateX(-50%);
  }
  
  section .title::after{
    
    bottom: -12px;
    left: 50%;
    position: absolute;
    font-size: 20px;
    padding: 0 10px;
    
    transform: translateX(-50%);
    }
  
    /*about section styling*/
  
  .about{
    background-image: url(../../assets/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .about .title::after{
      content:"Who I am";
      background: #c735e8;
      border-radius: 8px;
      }
  
  .about .about-content .left{
        width: 45%;
      }
  .about .about-content .right{
      width:50%;
    }
  .about .about-content .right .text{
      margin-bottom: 10px; padding-bottom: 20px;
      font-weight: 600;
    }
  .about p{
    padding-bottom:20px;line-height:40px;
  }
  .about .about-content .right p{ text-align: justify;}
  
  .about .about-content{color: aliceblue;
      display: flex;align-items: center;
      justify-content: space-between;flex-wrap: wrap;
    }
  
  .about .about-content .aman{
    height: 560px;width: 490px; border-radius: 2rem;object-fit: cover;
  }
  
  .about .downl a{display: inline-block;
    width:190px;height: 40px;color: white;font-size: 25px;
     border:2px solid crimson;text-align: center;padding:13px 16px;
    background-color: crimson;border-radius: 3px;margin-top: 20px;
  }
  .about .downl a:hover{
    background: none;color: crimson;
    transition: 0.5s ease;
  }
  
  /*Social*/
  
  #socialIcon{
    height: 20px;
    margin-top: -70px;
  }
  
  
  .social-container {
    width: 400px;
    margin:10px auto;
    text-align: center;
  }
  
  .social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
  }
  .social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
  }
  .social-icons i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 0.35s ease-out;
  }
  .social-icons a {
    display: inline-block;
  }
  .social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #00B5F5, #002A8F);
    transition: all 0.35s ease-out;
  }
  .social-icons a:hover:before {
    transform: scale(0);
    transition: all 0.35s ease-in;
  }
  .social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #00B5F5;
    background: -webkit-linear-gradient(45deg, #00B5F5, #002A8F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.25s ease-in;
  }
  
  
  /*certificate*/

  .certi{
    background-color: #a753f0;
  }
  
  .image_grid{
    --gap:16px;
    --num-cols:4;
    --row-height:300px;
  
    box-sizing: border-box;
    display: grid;
    padding: var(--gap);
    grid-template-columns: repeat(var(--num-cols),1fr);
    grid-auto-rows:var(--row-height);
    gap: var(--gap);
  }
  
  .image_grid > img{
  width: 100%;
  height:100%;
  object-fit: cover;
  border-radius:20px ;
  }
  
  .image_grid_col_2{
    grid-column: span 2;
  }
  
  .image_grid_row_2{
    grid-row: span 2;
  }
  
 
  
  @media(max-width:1104px){
  
    .about .about-content .aman{
      height: 460px;width: 390px; border-radius: 5rem;object-fit: cover;
    }
  }
  
  @media(max-width:991px){
  .max-width{padding: 0 50px;}
  }
  @media(max-width:947px){
  .max-width{padding: 0 50px; max-width: 930px;}
  .navbar .menu{position: fixed;
          width:100%;
          height:100vh;
          left:-120%;top: -20px;
          background:linear-gradient(to top, #222831,#1b2029,#0092ca);text-align: center;
         padding-top: 80px;transition: all 0.3s ease;}
  
  
  .navbar .menu.active{left:0;}

  label #btn{
    display: block;
    
}
  
  .checkbtn{
    display: block;
    position: relative;
    right: 3%;
    color: white;
    font-size: 25px;
    cursor: pointer;
}
#check:checked ~ ul{
  left:-50%;
  z-index: 20;
}
label+ul li{
 position: relative;
  display: block;
  margin: 50px 0 0 46%;
}

#check:checked ~ label #btn{
  display: none;
}
#check:checked ~ label #cancel{
  display:block;
}

#check:checked #userlist{
  left:-80%;
}
  .navbar .menu li{display:block;}
  .navbar .menu li a{display: inline-block;margin:20px 0;font-size: 22px;}
  body::-webkit-scrollbar{display: none;}
  .home .home-content .text-1{font-size: 25px;padding-bottom: 15px;}
  .home .home-content .text-2{font-family: font4;
                               font-size: 30px;margin-left: -3px;}
  .home .home-content .text-3{font-size: 25px;padding-top: 15px;}
  .about .about-content .column{
    width: 100%;
  }
  .about .about-content .left{
    display: flex;justify-content: center;margin: 0 auto 60px;
  }
  .about .about-content .right{
    flex: 100%;
  }
 


  .home .man{width:30%;height:50%;right: 90px;
    }
   
  
  }
  @media(max-width:890px) {
    .shape{
      display: none;
    }
    .man{
      display: none;
    }
  }    
  
  
  @media(max-width:650px){
    .max-width{
        padding: 0 23px;
      }
    .home .home-content h1{
        font-size:25px;
      }
    .home .home-content h3{
        font-size:18px;
      }
    .home .home-content h2{font-size:22px;}
    
    .navbar .logo a{font-size:25px;}
    
    
    
    .scroll-up-btn{
      right: 15px;
      bottom: 15px;
      height: 38px;
      width: 35px;
      font-size: 23px;
      line-height: 38px;  }
  
  }
  
  @media(max-width:500px){
  
  .about .about-content .right .text{
        font-size: 14px;
    }  
  
  .about{
    font-family: Arial, Helvetica, sans-serif;
  }  
  
  .right form .error-box{
     width: 150px;
  }
  
  .scroll-up-btn{
      right: 15px;
      bottom: 15px;
      height: 38px;
      width: 35px;
      font-size: 23px;
      line-height: 38px;
  }
  .button-wrapper {
    width: 350px;
    
    margin: 0px;
  padding-top: 150px;}
  
  }
  @media (max-width:420px) {

    .background-button{
     margin-left: -50px;}
     .home-content{
      margin-left: -20px;
     }
    
  }
  @media (max-width:350px) {
    .button-wrapper {
      width: 355px;
      display: inline-block;
      margin: 20px;
    padding-top: 150px;}
  }
  