<nav class="navbar">
    <div class="max-width">
      <div class="logo" style="margin-top: 10px;"><a href="#">Aman Pan<span>Dey.</span></a></div>

      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
      <i class="fa fa-bars" id="btn"></i>
      <i class="fa fa-times" id="cancel"></i>
      </label>
      
      <ul class="menu">
        <li><a href="#home"><i class="fa fa-home"></i></a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#project">Project</a></li>
        <li><a href="#socialIcon">Skills</a></li>
        <li><a href="#socialIcon">Certificates</a></li>
        <li><a href="mailto: amanp.dec19@gmail.com">Contact</a></li>
      </ul>
     
    </div>
  </nav>
  
  <!--Home Section Starts-->
<section class="home" id="home">
  <img src="assets/shape.png" class="shape">
  <img src="assets/folio.png" class="man">
  
    <div class="max-width">

      
      <div class="home-content">
        <h3 class="text-1"> Hi,I am</h3>
        
        <h1 class ="text-2">Aman Pandey</h1>
        <h2 class="text-3">And I'm a <span class="typing"></span></h2>
        
      </div>

      <div class="button-wrapper">

        <a class="background-button" href="assets\Aman's Resume.pdf" title="Download CV" download="Aman Pandey"></a>
      </div>
      
    </div>
    
  </section>

  <section id="socialIcon">
  <div class="social-container">
    <ul class="social-icons">
        <li><a href="https://www.instagram.com/amanp1912/" alt="insta"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100021907786714" alt="facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.linkedin.com/in/aman-pandey-dec12"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-codepen"></i></a></li>
  </ul></div>
</section>
  <section class="about" id="about">
    <div class="max-width">
      <h2 class="title">About Me</h2>
      <div class="about-content">
        <div class="column left">
          <img src="assets/imgshape (2).png" class="aman" >
          
        </div>
          <div class="column right">
            <div class="text">Hey, I'm AMAN PANDEY</div>
             <p> I am a Mechanical Engineer by Degree and a Developer by Passsion, I build webApplication with HTML, CSS, TS, Java, MongoDb, MySql, Angular, Bootstrap 
              and Docker and also trying to make myself do better every day. <br> I have done my graduation from PDM UNIVERSITY in B.Tech in Mechanical Engineering, with a Score of 7.66 CGPA, After completing My graduation I worked for a Private Aviation compony for 10 months As a Production Engineer,
               but After that I realize that Mechanical field is not for me. So, I decided to change my field to something which I really like to do.<br>
      
            </p>

            <div class="downl">
            <a href="assets\Aman's Resume.pdf" download="Aman pandey">Download CV<i class="fa fa arrow-down"></i></a></div>
          </div>
      </div>
    </div>

  </section>
  

